.expense-item{
    width: 70%;
    min-width: 150px;
    height:fit-content;
    background:linear-gradient(40deg,rgb(84, 252, 252),rgb(0, 88, 150),rgb(48, 48, 48));
    margin: 10px auto;
    padding: 4px;
    border: 2px solid rgb(48, 83, 83);
    border-radius: 20px;
    position: relative;
}
.expense-detail{
    display: flex;
    flex-direction: column;
}
.expense-item h3{
    font-size: 17px;
    font-family: sans-serif;
    padding: 3px 0;
    border-radius: 6px;
    margin-top: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
    
}
.amount{
    font-size: 12px;
    text-align: center;
    margin: 10px 0;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif ;
}
.date{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.btn-item{
border: 0;
outline: 0;
background: none;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 15px;
color: rgb(255, 255, 255);
position: absolute;
right: 8px;
top: 8px;
cursor: pointer;
transition: .3s;
}
.btn-item:hover{
    color: rgb(250, 129, 129);
}