.btn-back{
    position: fixed;
    margin: 10px;
    font-size: 25px;
    outline: 0;
    border: none;
    background: none;
    cursor: pointer;
    transition: .3s;
    color: aqua;
}
.btn-back:hover{
  font-size: 30px;
}

.expense-form{
    width: 80%;
    max-width: 400px;
    display: flex;
    padding: 10% 0 0;
    gap: 10px;
    margin:20px auto;
}
.addForm{
    flex-direction: column;
}
.expense-form input{
    width: 97%;
    padding: 8px 5px;
    border: 1.4px solid rgb(29, 201, 201);
    color: rgb(111, 110, 110);
    outline: 0;
    border-radius: 6px;
}
.expense-form input:hover,.expense-form input:focus{
    box-shadow: 0 0 0 3px rgba(0, 255, 255,.3);
}
.input-container{
    display: flex;
    gap: 10px;
}
.select-container{
    padding: 8px 5px;
    color: rgb(111, 110, 110);
    border: 1.4px solid rgb(29, 201, 201);
    outline: 0;
    border-radius: 6px;
}
.select-container:hover,.select-container:focus{
  box-shadow: 0 0 0 3px rgba(0, 255, 255,.3);
}
.btn-addexpense{
    width: 100%;
    border: 0;
    outline: 0;
    padding: 8px 5px;
    background-color: rgb(28, 186, 186);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    cursor: pointer;

}
.btn-addexpense:hover{
   background-color: rgb(36, 154, 154);
    
}